---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog" description="List of recent posts">
  <main class="prose lg:prose-lg mx-auto px-4 py-8">
    <h1>Blog Posts</h1>
    <ul>
      <li><a href="/blog/insights">Oriol Dev Insights</a></li>
      <li><a href="/blog/full-stack-practices">Modern Full-Stack Development Practices</a></li>
      <li><a href="/blog/ai-driven-web">AI Driven Web Experiences</a></li>
    </ul>
  </main>
</Layout>
