---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<Layout title="Blog" description="List of recent posts">
  <main class="prose lg:prose-lg mx-auto px-4 py-8">
    <h1>Blog Posts</h1>
    <ul>
      {posts.map(post => (
        <li><a href={`/blog/${post.slug}/`}>{post.data.title}</a></li>
      ))}
    </ul>
  </main>
</Layout>

